/* ========== Estilizações gerais de botões ========== */
.smooth-button {
    text-decoration: none;
    transition: .2s;
    padding: 0.5em;
    cursor: pointer;
}

.smooth-button:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.yellow-button:link, .yellow-button:visited {
    background-color: #F5C661;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}

.yellow-button:active {
    background-color: #a18341;
}

.purple-button {
    background-color: #7E3481DC;
    color: #FAFAFA;
    font-weight: 400;
    font-size: 20px;
    border: 1px solid transparent;
}

.purple-button:link, .purple-button:visited {
    background-color: #7E3481DC;
    color: #FAFAFA;
    font-weight: 400;
    font-size: 24px;

}

.purple-button:active {
    background-color: #321533dc;
}

.img-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .2s;
}

.highlight-category {
    border: 3px solid #C839CD;
}
