/* ========== HEADER ========== */
header.main-header {
    display: flex;
    justify-content: space-around;
    background-color: #7A247D;
}

header > section {
    /* background-color: orange; */
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
}

.logo-and-search {
    width: 40%;
}   

.logo-and-search > a > img {
    width: 90px;
}

.search-bar {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #F5C661;
    width: 75%;
}

input[type="text"]:focus {     
    outline:none; 
}

.search-bar > input {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    background-color: transparent;
    color: #F5C661;
    width: 100%;
}

.search-bar ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F5C661;
    opacity: 1; /* Firefox */
    font-weight: 300;
}
  
.search-bar ::-ms-input-placeholder { /* Microsoft Edge */
    color: #F5C661;
    font-weight: 300;
}


#lupinha {
    /* background-color: orange; */
    width: 20px;
    height: 20px;
}

.header-option-container > a > img {
    width: 40px;
}

/* ========== SIDEBAR DO CARRINHO ========== */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
    background-color: #F5C661;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav > h1 {
    padding-left: 32px;
    color: #6A066D;
    font-size: 32px;
    font-weight: 700;
}

.sidenav > p {
    padding-left: 32px;
    font-size: 18px;
    font-weight: 400;    
}


.cart-content {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 8px;
    margin-bottom: 24px;
    padding-top: 2.375em;
    padding-bottom: 4.25em;
    border-top: 1px solid #6A066D;
    border-bottom: 1px solid #6A066D;

}

.cart-item-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.25em;
    background-color: #D7F6FD;
}

.cart-item-card > img {
    width: 100px;
    height: 100px;
}

.cart-item-card > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 13px; 
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 14px;
    width: 100%;
}

.cart-item-card > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.buy-button {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* background-color: green; */
    padding-bottom: 10em;
}

.buy-button > a {
    width: 220px;
    text-align: center;
}

.sidenav > a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #6A066D;
    display: block;
    transition: 0.3s;
}

.sidenav > a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav > a {font-size: 18px;}
}

#screenOpacity {
    background-color: rgb(0, 0, 0, 0.4);
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 11;
}