/* ========== SUBHEADER LANDING PAGE ========== */

.subheader-landing-page {
    /* background-color: #7A247D; */
    background-color: #7A247D;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 6em;
}

.subheader-landing-page > div {
    /* background-color: rgb(0, 4, 255); */
    text-align: center;
}

.subheader-landing-page > div > h1 {
    color: #F5C661;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    padding: 0.5em;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.subheader-landing-page > div > p {
    color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 300;
}

.section-conheca-nossa-loja {
    background-color: rgb(231,250,254);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.section-conheca-nossa-loja > h1 {
    text-align: center;
    font-weight: 400;
    font-size: 32px;
}

.section-conheca-nossa-loja > a.yellow-button {
    width: 14.6875em;
    text-align: center;
}

/* ========== SECTION CONHEÇA NOSSA LOJA: Categories Subsection ========== */

.categories-subsection {
    padding-top: 3em;
    padding-bottom: 3em;
}

.categories-subsection > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1em;
}

/* Estilização da imagem da categoria */
.attachment-thumbnail  {
    width: 240px;
    height: 240px;
}

.purple-degrade {
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    color: #FAFAFA;
}

.cat-name {
    padding-left: 0.5em;
    font-size: 24px;
    margin-top: -30px;
}

/* ========== SECTION CONHEÇA NOSSA LOJA: Daydishes Subsection ========== */

.daydishes-subsection {
    padding-bottom: 3em;
}

.all-daydishes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* .dish-card {
    max-height: 331.6px;
} */

.dish-card > a > img {
    width: 240px;
    height: 320px;
}

.dish-info {
    padding: 0.7em;
    margin-top: -132px;
    /* Formatando os nomes grandes bonitinho */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6.9em;
    position: relative;
}

.dish-info > p {
    /* padding-bottom: 2em; */
    font-size: 18px;
    max-width: fit-content;
}

.dish-info > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dish-info > div > p {
    font-size: 24px;
    font-weight: 700;
}

.cart-button {
    background-color: #F5C661;
}


/* ========== SUBFOOTER LANDING PAGE ========== */

/* Mapa + descrição*/

.subfooter-landing-page {
    background-color: #7A247D;
    padding-top: 2em;
    padding-bottom: 5em;
}

.subfooter-landing-page > h1 {
    color: #FAFAFA;
    text-align: center;
    padding-bottom: 2em;
}

.subfooter-landing-page > div {
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subfooter-landing-page > div > div {
    padding-left: 12.5em;
    padding-right: 10em;
}


.subfooter-landing-page > div > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FAFAFA;
}

.subfooter-landing-page > div > div > div > img {
    width: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/*Slider*/

.slider input {
    display: none;
}
.slider {
    display: block;
    height: 393px;
    width: 1050px;
    margin:auto;
    position: relative;
    padding: 1.4em;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}
.slider label {
    background-color: #FAFAFA;
    bottom: 30px;
    border-radius: 50%;
    cursor: pointer;
    display:block;
    height: 25px;
    position: absolute;
    width: 25px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 255px;
}

.slider li:nth-child(2) label {
    left: 285px;
}

.slider li:nth-child(3) label {
    left: 315px;
}
.slider img {
    opacity: 0;
    visibility: hidden;
}
.slider p {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.slider li input:checked ~ p {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.slider li input:checked ~ label {
    background-color: black;
}