/* Reset do CSS */
* {  
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Bellota Text', cursive;
}

main {
    background-color: rgb(231,250,254);
}