
.shop-subheader {
    background-color: rgb(231,250,254);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 3em; */
}

.shop-subheader h1 {
    font-weight: 400;
    font-size: 32px;
}

.shop-categories-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1em;
}

.category-name {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 20px;
}

.category-name > p {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

.category-name > div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-right: 21em;
}


.orderby-and-filtering {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.woocommerce-ordering {
    width: 412px;
}

.woocommerce-ordering > select {
    width: 100%;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 2px solid #6A066D;
    background-color: transparent;
}

#min_price {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 2px solid #6A066D;
    background-color: transparent;
    width: 150px;
    margin-right: 46px;
}

#max_price {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 2px solid #6A066D;
    background-color: transparent;
    width: 150px;
    margin-right: 15px;
}

.filter-button {
    background-color: #6A066D;
    padding: 0.2em;
    border: 1px solid transparent;
    color: #FAFAFA;
}

.show-products{
    display: flex;
    /* background-color: green; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.show-products > p.woocommerce-result-count {
    display: none;
}

.products.columns-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 64em;
    width: 100%;
    padding-bottom: 3.375em;
    padding-top: 2em;
    /* background-color: orange; */
    
}

li.product.type-product.status-publish.instock.has-post-thumbnail.purchasable.product-type-simple {
    display: flex;
    overflow: hidden;
    max-width: 240px;
    transition: .2s;
    
}

li.product.type-product.status-publish.instock.has-post-thumbnail.purchasable.product-type-simple:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

li.product.type-product.status-publish.instock.has-post-thumbnail.purchasable.product-type-simple > a {
    max-width: 240px;
    padding-bottom: 24px;
    
}
/* product type-product status-publish instock  has-post-thumbnail  purchasable product-type-simple */

nav.woocommerce-pagination {
    text-align: center;
    padding-bottom: 2.75em;
}

nav.woocommerce-pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border: 1px solid #d3ced2;
    border-right: 0;
    margin: 1px;
}

nav.woocommerce-pagination ul li {
    border-right: 1px solid #d3ced2;
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden;
}

nav.woocommerce-pagination ul li a,
nav.woocommerce-pagination ul li span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1;
    font-size: 1em;
    font-weight: 400;
    padding: .5em;
    min-width: 1em;
    display: block;
}

nav.woocommerce-pagination ul li a:focus,
nav.woocommerce-pagination ul li a:hover,
nav.woocommerce-pagination ul li span.current {
    background: #ebe9eb;
    color: #8a7e88;
}
