
div.product.type-product.status-publish.instock.has-post-thumbnail.purchasable.product-type-simple{
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 150px;
}

.product-img-and-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 85px;
}

.product-img-and-info > .summary.entry-summary {
    padding-left: 105px;
}

.product-img-and-info > .summary.entry-summary  > h1 {
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 5px;
}

.woocommerce-product-details__short-description {
    padding-bottom: 20px;
}

.input-text.qty.text {
    width: 113px;
    height: 28px;
    border: 1px solid #6A066D;
    background-color: transparent;
    font-size: 18px;
    text-align: center;
}

.form-price-and-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

.form-price-and-submit > p {
    font-size: 32px;
    font-weight: 400;
}

.related-products-cat {
    font-size: 24px;
    font-weight: 700;
}

